ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 30px;
    width: 72vw;
    margin: 20px 0 0;
}
li {
    text-align: center;
    border: 2px solid blue;
    border-bottom: 0 ;
    width: 200px;
    height: 100px;
    background-color: deepskyblue;
    align-content: center;
    font-weight: 700;
}
a {
    text-decoration: none;
}
a:active {
    color: whitesmoke;
}